### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
pd.DataFrame({'Total Players': len(purchase_data['SN'].unique())}, index = [0])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#unique Items
unique_items = len(purchase_data['Item ID'].unique())
unique_items

179

In [5]:
#average price
average_price = "$"+str(round(purchase_data['Price'].mean(),2))
average_price

'$3.05'

In [6]:
#number of purchases
total_purchases = purchase_data['Purchase ID'].count()
total_purchases

780

In [7]:
#total revenue
total_revenue = '$'+str(purchase_data['Price'].sum())
total_revenue

'$2379.77'

In [8]:
pd.DataFrame({'Number of Unique Items':unique_items,
             'Average Price': average_price,
             'Number of Purchases':total_purchases,
             'Total Revenue': total_revenue}, index = [0])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
unique_df = purchase_data.drop_duplicates(subset = ['SN'])

In [10]:
gender_demo = pd.DataFrame(unique_df['Gender'].value_counts().rename('Total Count'))
gender_demo['Percentage of Players']=  round(gender_demo['Total Count']/gender_demo['Total Count'].sum()*100,2).astype(str)+'%'

In [11]:
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
unique_gender_count= pd.DataFrame(unique_df['Gender'].value_counts().rename('Total Count'))
unique_gender_count

                       Total Count
Male                           484
Female                          81
Other / Non-Disclosed           11

In [13]:
basic_stats = purchase_data.groupby('Gender').agg({'Purchase ID':['count'],'Price':['mean','sum']})
basic_stats.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
basic_stats = pd.concat([basic_stats, unique_gender_count],axis = 1)
basic_stats['Avg Total Purchase per Person'] = '$'+round(basic_stats['Total Purchase Value']/basic_stats['Total Count'],2).astype(str)
basic_stats.drop('Total Count',axis= 1, inplace = True)
basic_stats['Total Purchase Value'] = '$'+round(basic_stats['Total Purchase Value'],2).astype(str)
basic_stats['Average Purchase Price'] = '$'+round(basic_stats['Average Purchase Price'],2).astype(str)
basic_stats

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
unique_buyer = purchase_data.drop_duplicates(subset = ['SN'])

In [15]:
age_group = pd.cut(unique_buyer.Age,bins=[0,9,14,19,24, 29, 34,39,unique_buyer['Age'].max()],labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
unique_buyer['Age Group'] = age_group

<ipython-input-15-4ccef48dd118>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_buyer['Age Group'] = age_group

In [16]:
unique_buyer

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,92,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10

In [17]:
age_group = pd.DataFrame(unique_buyer['Age Group'].value_counts()).sort_index()
age_group['Percentage of Players'] = round(age_group['Age Group']/age_group['Age Group'].sum()*100,2).astype(str)+'%'
age_group

       Age Group Percentage of Players
<10           17                 2.95%
10-14         22                 3.82%
15-19        107                18.58%
20-24        258                44.79%
25-29         77                13.37%
30-34         52                 9.03%
35-39         31                 5.38%
40+           12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
age_group = pd.cut(purchase_data.Age,bins=[0,9,14,19,24, 29, 34,39,unique_buyer['Age'].max()],labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
purchase_data['Age Group'] = age_group

In [19]:
unique_age_count = pd.DataFrame(unique_buyer['Age Group'].value_counts().rename('Total Count'))
unique_age_count.sort_index(inplace = True)

In [20]:
purchases_by_age = purchase_data.groupby(['Age Group']).agg({'Purchase ID':['count'],'Price':['mean','sum']})
purchases_by_age.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
purchases_by_age = pd.concat([purchases_by_age, unique_age_count],axis = 1)
purchases_by_age['Avg Total Purchase per Person'] = '$'+round(purchases_by_age['Total Purchase Value']/purchases_by_age['Total Count'],2).astype(str)
purchases_by_age.drop('Total Count',axis= 1, inplace = True)
purchases_by_age['Total Purchase Value'] = '$'+round(purchases_by_age['Total Purchase Value'],2).astype(str)
purchases_by_age['Average Purchase Price'] = '$'+round(purchases_by_age['Average Purchase Price'],2).astype(str)
purchases_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
top_spenders = purchase_data.groupby(['SN']).agg({'Purchase ID':['count'],'Price':['mean','sum']})
top_spenders.columns = ['Purchase Count','Average Purchase Price','Total Purchase Value']
top_spenders.sort_values(by = ['Total Purchase Value'], ascending = False, inplace = True)
top_spenders['Total Purchase Value'] = '$'+round(top_spenders['Total Purchase Value'],2).astype(str)
top_spenders['Average Purchase Price'] = '$'+round(top_spenders['Average Purchase Price'],2).astype(str)
top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [22]:
top_items = purchase_data.groupby(['Item Name']).agg({'Purchase ID':['count'],'Price':['mean','sum']})
top_items.columns = ['Purchase Count','Average Item Price','Total Purchase Value']
top_5_items = top_items.sort_values(by = ['Purchase Count'], ascending = [False])
top_5_items['Total Purchase Value'] = '$'+round(top_5_items['Total Purchase Value'],2).astype(str)
top_5_items['Average Item Price'] = '$'+round(top_5_items['Average Item Price'],2).astype(str)
top_5_items.head(5)

,Purchase Count,Average Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.9,$44.1
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [23]:
top_prof_items = top_items.sort_values(by = ['Total Purchase Value'], ascending = [False])
top_prof_items['Total Purchase Value'] = '$'+round(top_prof_items['Total Purchase Value'],2).astype(str)
top_prof_items['Average Item Price'] = '$'+round(top_prof_items['Average Item Price'],2).astype(str)
top_prof_items.head(5)

,Purchase Count,Average Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Nirvana,9,$4.9,$44.1
Fiery Glass Crusader,9,$4.58,$41.22
Singed Scalpel,8,$4.35,$34.8